<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/static/css/mui.min.css" rel="stylesheet" />
		<link href="/static/css/mui.css" rel="stylesheet" />
		<!-- <script src="js/mui.min.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>

	<body>
		
		<header class="mui-bar mui-bar-nav public-color">
		    <a class=" mui-icon  mui-pull-left">
		    	<button>天安门</button><span class="mui-icon mui-icon-arrowdown"></span>
		    </a>
		    <h1 class="mui-title " id="input1">
		    		<input type="text" placeholder="请输入您的商品"/>
		    </h1>
		</header>
		<div class="mui-content">
		    <div id="box">
		    		<a href="#" class="div">美食</a>
		    		<a href="#">酒店</a>
		    		<a href="#">娱乐</a>
		    		<a href="#">全部</a>
		    </div>
		    <div class="box-q" style="display: block;">
		    		<div class="ms-a" id="ms">
		    			<span class="ms-a-color">热门</span>
		    			<span>面包甜点</span>
		    			<span>小吃快餐</span>
		    			<span>北京菜</span>
		    			<span>川菜</span>
		    			<span>日本料理</span>
		    			<span>湘菜</span>
		    			<span>粤菜</span>
		    		</div>
		    		<div class="ms-b">
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/1.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/3.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/2.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/4.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/1.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/1.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/2.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/3.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    			<div class="ms-b-a">
		    				<div class="ms-b-a-l">
		    					<img src="/static/src/4.jpg" />
		    				</div>
		    				<div class="ms-b-a-r">
		    					<h4>牛肉老火锅</h4>
		    					<span class="span-span">
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span class="mui-icon mui-icon-starhalf"></span>
		    						<span style="color: #666;font-size: 12px;">￥200/人</span>
		    					</span>
		    					<p class="span-p">重庆老火锅巴适</p>
		    					<p style="border-bottom: 1px solid #f1f1f1;"><span class="mui-icon mui-icon-starhalf" style="color: #FA952F;font-size: 13px"></span>100人消费</p>
		    					<p style="color: #d8d8d8;margin: 7px 0;"><span style="margin-right: 5px;background: #06BFAC;padding: 2px;border-radius: 2px;color: #fff;font-size: 12px;">团</span>团购价每个人只要150</p>
		    				</div>
		    			</div>
		    		</div>
		    </div>
		    <div class="box-q"> </div>
		    <div class="box-q">第三界面 </div>
		    <div class="box-q">第四界面 </div>
		</div>
	
	</body>
	<script type="text/javascript" >
		$("#box a").each(function(index,item){
			$(this).bind('click', function(event) {
				$(this).siblings().removeClass("div");
				$(this).addClass("div");			
				$(".box-q").css("display","none");
				$(".box-q")[index].style.display = "block";
			});
		
		});
		
		$("#ms span").each(function(index,item){
						   $(this).bind('click', function(event) {
						   		$("#ms span").removeClass("ms-a-color");
						   		$(this).addClass("ms-a-color");
						   });


					});
		
	</script>
</html>