<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/static/css/mui.min.css" rel="stylesheet" />
		<link href="/static/css/mui.css" rel="stylesheet" />
		<!-- <script type="text/javascript" src="js/mui.min.js" ></script> -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	</head>

	<body>
		<!--mh 按下回车键就出来啦header        -->
		<header class="mui-bar mui-bar-nav public-color">
		    <a class="mui-action-back mui-icon  mui-pull-left">
		    		<button>北京</button><span class="mui-icon mui-icon-arrowdown"></span>
		    </a>
		    <h1 class="mui-title input">
		    		<input type="text" name="" id="" value="" placeholder="请输入您的手机号"/>
		    </h1>
		    <a href="#" class="mui-icon mui-icon-location mui-pull-right"></a>
		    <a href="#" class="mui-icon mui-icon-person mui-pull-right"></a>
		</header>
		<!--
        mbody 按回车：
        -->
		<div class="mui-content">
		    <!--            十宫格 -->
		    <div class="box-a">
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-qq tu-yi"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-pengyouquan tu-er"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-chat tu-san"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-bars tu-si"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-qq tu-wu"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-chatbubble tu-liu"></span>
		    			<p>丽人</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-chatboxes tu-qi"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-videocam tu-ba"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-camera tu-jiu"></span>
		    			<p>契合</p>
		    		</div>
		    		<div class="box-a-l">
		    			<span class="mui-icon mui-icon-mic tu-shi"></span>
		    			<p>契合</p>
		    		</div>
		    </div>
		</div>
		<!--
       猜你喜欢
        -->
		<div class="box-b">
			<p class="box-b-p">-  猜你喜欢  -</p>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/1.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/2.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/3.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/4.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/1.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/2.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/3.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/4.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/1.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/2.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/3.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
			<div class="box-b-a">
				<div class="box-b-a-l">
					<img src="/static/src/4.jpg"/>
				</div>
				<div class="box-b-a-r">
					<h4>TensorFlow微信公众号发布</h4>
					<p>TensorFlow 微信公众号正式发布</p>
					<span style="color: #06BFAC;">¥1</span><span style="font-size: 13px;color: #666;">门市价1</span><span style="float: right;padding-right: 10px;color: #666;font-size: 12px;">已售出100</span>
				</div>			
			</div>
		</div>
		
		
		
	</body>

</html>